/* MAIN  */

// .layout__main{
//     // margin-left: 20rem;
//     // margin-top: 20rem;
// }

.main_presentation{
    display: flex;
    justify-content: space-between; /* Distribuir el espacio entre los elementos */
    align-items: center; /* Alinear verticalmente al centro */
    padding-left: 10rem;
}

.presentation__text{
    width: 100%;
    height: 100%;
    color: white;
    font-size: 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-items: center;
    // line-height: 0%;
    gap: 8rem;
    padding-top: 10rem;
}

.main__title{
    padding-top: 10rem;
}

.presentation__img{
    padding-right: 20rem;
    padding-top: 20rem;
}

.main__button-top{
    display: flex;                /* Activamos el contenedor flex */
    justify-content: center;      /* Centra el botón horizontalmente */
    align-items: center;          /* Centra el botón verticalmente */
    padding-top: 3rem;                /* Asegura que el contenedor tenga altura completa para centrar verticalmente */
}

.button__btn1{
    position: absolute;
    background-color: #2A2A49;
    //border: solid 1px white;
    box-shadow: 0px 0px 8px white;
    color: white;
    border-radius: 10rem;
    width: 22rem;
    height: 7rem;
    cursor: pointer;
    font-weight: 600;
    outline: none;
    display: flex;   
    align-items: center;    
    justify-content: center;
    text-align: center;
    //z-index: -1;
}

.button__btn1::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #393963;
    border-radius: 10rem;
    z-index: -1;
    transition: all 1s linear;
}

.button__btn1:hover::before{
    transform: scaleX(1.3) scaleY(1.5);
    opacity: 0;
}

/* SKILLS */

.main__skills {
    display: flex;
    flex-direction: column; /* Cambia a columna */
    align-items: center;    /* Centra los elementos */
    justify-content: center; /* Centra verticalmente */
    padding-top: 23rem;
    
}

.skills__arrow{
    font-size: 6rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    padding-bottom: 10rem;
}

.skills__arrow:hover{
    transform: scale(1.1);
    color: #F7E025;
}

.skills__title {
    text-align: center;
    margin-bottom: 20px; /* Espacio entre el título y los íconos */
    font-size: 3.5rem; /* Ajusta el tamaño de la fuente según necesites */
}

.skills__icons{
    background-color: rgba(54, 42, 87, 0.5);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills__fa {
    font-size: 10rem; /* Tamaño de los íconos */
    margin: 4rem; /* Espacio entre los íconos */
    justify-content: space-between;
    transition: all 300ms ease;
    cursor: pointer;
}

.fa-html5:hover{
    color: #FC4F13;
    transform: scale(1.2);
}

.fa-css3-alt:hover{
    color: #36ADDC;
    transform: scale(1.2);
}

.fa-js:hover{
    color: #F7E025;
    transform: scale(1.2);
}

.fa-php:hover{
    color: #7B7FB5;
    transform: scale(1.2);
}

.fa-sass:hover{
    color: #CE6B9C;
    transform: scale(1.2);
}

.fa-bootstrap:hover{
    color: #7618F6;
    transform: scale(1.2);
}

.fa-git:hover{
    color: #F2563B;
    transform: scale(1.2);
}

.fa-github:hover{
    color: black;
    transform: scale(1.2);
}

.fa-database:hover{
    color: #087792;
    transform: scale(1.2);
}

/* FORMACION */

.main__grades{
    display: flex;
    flex-direction: column; /* Cambia a columna */
    align-items: center;    /* Centra los elementos */
    justify-content: center; /* Centra verticalmente */
    padding-top: 10rem;
}

.grades__title{
    text-align: center;
    margin-bottom: 20px; /* Espacio entre el título y los íconos */
    font-size: 3.5rem; /* Ajusta el tamaño de la fuente según necesites */
}

.grades__courses{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7.5rem;
    
}

.courses__course{
    background-color: rgba(54, 42, 87, 0.5);
    padding: 2rem;
    border-radius: 3rem;
    gap: 2rem;
    width: 50rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    height: 20rem;
}

.courses__course:hover{
    box-shadow: 0px 0px 8px white;
}

.course__title{
    font-size: 2rem;
    font-weight: 600;
    
}

.course__description{
    margin-top: 2rem;
}

/* PROYECTOS */

.main__projects{
    padding-top: 10rem;
    width: 100%;
}

.projects__title{
    text-align: center;
    margin-bottom: 20px; /* Espacio entre el título y los íconos */
    font-size: 3.5rem; /* Ajusta el tamaño de la fuente según necesites */
}

.projects__project{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7.5rem;
    //width: 100%;
}

.project__card{
    position: relative;
    width: 50rem;
    height: 25rem;
    overflow: hidden;
    cursor: pointer;
    
}

.project__card > img{
    width: 50rem;
    border-radius: 3rem;
    //filter: opacity(30%);
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.card__img{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 300ms linear;
    overflow: hidden;
}

.card__overlay{
    position: absolute;
    top: 100;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #4953BA;
    color: white;
    margin-top: 0;
    padding: 3rem;
    border-radius: 3rem;
    transform: translateX(-50rem);
    transition: all 300ms linear;
    overflow: hidden;
}

.project__card:hover > .card__overlay{
    transform: translateX(0);
}

.overlay__title{
    margin-bottom: 4rem;
}

.overlay__description{
    font-weight: 500;
    padding-bottom: 1rem;
}

.overlay__tools{
    font-size: 3.5rem;
    transition: all 300ms ease-in-out;
}

.tools__php{
    color: #7B7FB5;
}

.tools__html{
    color: #FC4F13;
}

.tools__css{
    color: #36ADDC;
}

.tools__sass{
    color: #CE6B9C;
}

.tools__bootstrap{
    color: #7618F6;
}

.tools__database{
    color: #087792;
}

.project__card > .card__overlay{
    background-color: rgba(20, 20, 20, 0.945);
    //background-color: #281F42;
    height: 100%;
    position: relative;
    transform: translateY(50rem);
}

.project__card:hover > .card__overlay{
    transform: translateY(0.1rem);
}

.project__card:hover > card__img{
    transform: translateY(-25rem);
}


/* CV */

.main__cv{
    padding-top: 2rem;
    width: 100%;
    background-color: #281F42;
    margin-top: 8rem;
    padding-bottom: 10rem;
}

.cv__title{
    text-align: center;
    margin-bottom: 20px; /* Espacio entre el título y los íconos */
    font-size: 3.5rem; /* Ajusta el tamaño de la fuente según necesites */
    padding-bottom: 10rem;
}

.cv__description{
    text-align: center;
    padding-bottom: 10rem;
    padding-top: 5rem;
}

.main__button-bottom{
    display: flex;                /* Activamos el contenedor flex */
    justify-content: center;      /* Centra el botón horizontalmente */
    align-items: center;          /* Centra el botón verticalmente */
    padding-top: 3rem;                /* Asegura que el contenedor tenga altura completa para centrar verticalmente */
}

.button__btn2 {
    position: absolute;
    background-color: #2A2A49;
    //border: solid 1px white;
    box-shadow: 0px 0px 8px white;
    color: white;
    border-radius: 10rem;
    width: 22rem;
    height: 7rem;
    cursor: pointer;
    font-weight: 600;
    outline: none;
    display: flex;   
    align-items: center;    
    justify-content: center;
    text-align: center;
    //z-index: -1;
    transition: all 1s linear;
}

.button__btn2:hover{
    color: yellow;
    box-shadow: 0px 0px 8px yellow;
}

// .button__btn2::before{
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: #393963;
//     border-radius: 10rem;
//     z-index: -1;
//     transition: all 1s linear;
// }

// .button__btn2:hover::before{
//     transform: scaleX(1.3) scaleY(1.5);
//     opacity: 0;
// }








/* Pantallas pequeñas (móviles) */
@media (max-width: 600px) {
   .main_presentation{
        flex-direction: column;
        padding-left: 0;
   }

   .presentation__text{
        font-size: 1.5rem;
        text-align: center;
        padding-top: 0;
   }

   .presentation__img{
        padding-right: 0;
        padding-top: 10rem;
   }

   .presentation__img > img{
        width: 30rem;
   }

   .main__button-top{
        height: 20rem;                /* Asegura que el contenedor tenga altura completa para centrar verticalmente */
    }

   .skills__icons {
        flex-wrap: wrap; /* Permite que los íconos se ajusten a varias filas */
        justify-content: space-between; /* Asegura que los íconos se distribuyan en filas */
    }

    .skills__fa {
        flex: 0 0 15%; /* En móviles, los íconos ocupan el 45% de ancho */
        margin: 2rem;
        font-size: 8rem;
    }

    /* FORMACION */

    .grades__courses{
        flex-direction: column;
        align-items: center;
    }

    .courses__course{
        width: 80%;
        height: 20rem;
    }
        
    /* PROYECTOS */

    .projects__project{
        flex-direction: column;
        align-items: center;
    }
    
    .project__card{
        width: 80%;
        gap: 2rem;
        //height: 20rem;
    }
}

/* Pantallas medianas (tabletas) */
@media (min-width: 601px) and (max-width: 900px) {
    .layout{
        width: 100%;
    }
    .main_presentation{
        flex-direction: column;
    }

    .presentation__text{
        font-size: 3rem;
    }

    .main__button-top{
        padding-top: 10rem;
    }

    .main__skills{
        width: 100%;
    }

    .skills__fa {
        font-size: 8rem; /* Tamaño de los íconos */
        margin: 1rem; /* Espacio entre los íconos */
    }

    /* FORMACION */
    .grades__courses{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .courses__course{
        width: 90%;
        height: 19rem;
        align-items: center;
    }
}

/* Pantallas grandes (pc pequeño) */
@media (min-width: 901px) and (max-width: 1199px) {
    .presentation__text{
        font-size: 2rem;
    }

    .skills__fa {
        font-size: 8rem; /* Tamaño de los íconos */
        margin: 2rem; /* Espacio entre los íconos */
  
    }

    .main__button-top{
        padding-top: 10rem;
    }

    .grades__courses{
        width: 95%;
    }

    .courses__course{
        width: 100%;
        height: 25rem;
    }
}

@media (min-width: 1200px) {
    /* Estilos para pantallas de al menos 1200px de ancho */
    
  }