html{
    font-size: 10px;
    width: 100%;
    height: 100%;
}

body{
    font-size: 1.6rem;
    font-family: "Roboto Mono", monospace;
    background-image: url(../img/fondos/fondo-vscode.png);
    background-size: cover; /* Cubrir toda la ventana */
    background-position: center; /* Centrar la imagen */
    background-repeat: no-repeat; /* Evitar que la imagen se repita */
}

.layout{
    height: 100%;
}

.layout__nav{
    width: 100%;
    justify-content: space-between;
    position: sticky;   
    text-align: right; 
    position: sticky;
     
}

.nav__link{
    display: inline-block;
    border: none;
    text-transform: uppercase;
    padding: 15px 50px;
    text-decoration: none;
    color: white;
    font-size: 5rem;
}

.layout__main{
    margin-left: 20rem;
    margin-top: 20rem;
}

.main_presentation{
    display: flex;
    justify-content: space-between; /* Distribuir el espacio entre los elementos */
    align-items: center; /* Alinear verticalmente al centro */
}

.presentation__text{
    
    width: 100%;
    height: 100%;
    color: white;
    font-size: 7rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-items: center;
    line-height: 0%;
    
}

.main__title{
    padding-top: 30rem;
}

.presentation__img{
    padding-right: 50rem;
    padding-top: 30rem;
}