@charset "UTF-8";
/* HEADER */
html {
  font-size: 10px;
  width: 100%;
  height: 100%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto Mono", monospace;
  background-color: #1B152C;
  color: white;
  background-size: cover; /* Cubrir toda la ventana */
  background-position: center; /* Centrar la imagen */
  background-repeat: no-repeat; /* Evitar que la imagen se repita */
}

.layout {
  height: 100%;
}

.layout__nav {
  width: 100%;
  justify-content: space-between;
  position: sticky;
  text-align: right;
  position: sticky;
  top: 0;
  background-color: rgba(27, 21, 44, 0.5);
}

.nav__link {
  display: inline-block;
  border: none;
  text-transform: uppercase;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  font-size: 2rem;
  transition: all 300ms ease;
}

.nav1:hover {
  color: #25E572;
}

.nav2:hover {
  color: #FF4D4D;
}

.nav3:hover {
  color: #FDC025;
}

.nav4:hover {
  color: #2074EF;
}

.nav5:hover {
  color: #FC4F13;
}

.nav6:hover {
  color: #C586C0;
}

/* Pantallas pequeñas (móviles) */
@media (max-width: 600px) {
  html {
    font-size: 8px; /* Reducir tamaño de fuente en móviles */
  }
  body {
    font-size: 1.4rem; /* Ajustar el tamaño de fuente */
  }
  .nav__link {
    padding: 10px 20px; /* Reducir el padding */
    font-size: 3rem; /* Ajustar el tamaño de fuente */
  }
  .layout__nav {
    display: none;
  }
}
/* Pantallas medianas (tabletas) */
@media (min-width: 601px) and (max-width: 900px) {
  html {
    font-size: 9px; /* Tamaño de fuente intermedio */
  }
  body {
    font-size: 1.5rem; /* Ajustar el tamaño de fuente */
  }
  .layout__nav {
    display: none;
  }
  .nav__link {
    padding: 12px 30px; /* Ajustar el padding */
    font-size: 4rem; /* Ajustar el tamaño de fuente */
  }
}
/* MAIN  */
.main_presentation {
  display: flex;
  justify-content: space-between; /* Distribuir el espacio entre los elementos */
  align-items: center; /* Alinear verticalmente al centro */
  padding-left: 10rem;
}

.presentation__text {
  width: 100%;
  height: 100%;
  color: white;
  font-size: 3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-items: center;
  gap: 8rem;
  padding-top: 10rem;
}

.main__title {
  padding-top: 10rem;
}

.presentation__img {
  padding-right: 20rem;
  padding-top: 20rem;
}

.main__button-top {
  display: flex; /* Activamos el contenedor flex */
  justify-content: center; /* Centra el botón horizontalmente */
  align-items: center; /* Centra el botón verticalmente */
  padding-top: 3rem; /* Asegura que el contenedor tenga altura completa para centrar verticalmente */
}

.button__btn2 {
  position: absolute;
  background-color: #2A2A49;
  box-shadow: 0px 0px 8px white;
  color: white;
  border-radius: 10rem;
  width: 22rem;
  height: 7rem;
  cursor: pointer;
  font-weight: 600;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.button__btn2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #393963;
  border-radius: 10rem;
  z-index: -1;
  transition: all 1s linear;
}

.button__btn2:hover::before {
  transform: scaleX(1.3) scaleY(1.5);
  opacity: 0;
}

/* SKILLS */
.main__skills {
  display: flex;
  flex-direction: column; /* Cambia a columna */
  align-items: center; /* Centra los elementos */
  justify-content: center; /* Centra verticalmente */
  padding-top: 23rem;
}

.skills__arrow {
  font-size: 6rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  padding-bottom: 10rem;
}

.skills__arrow:hover {
  transform: scale(1.1);
  color: #F7E025;
}

.skills__title {
  text-align: center;
  margin-bottom: 20px; /* Espacio entre el título y los íconos */
  font-size: 3.5rem; /* Ajusta el tamaño de la fuente según necesites */
}

.skills__icons {
  background-color: rgba(54, 42, 87, 0.5);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills__fa {
  font-size: 10rem; /* Tamaño de los íconos */
  margin: 4rem; /* Espacio entre los íconos */
  justify-content: space-between;
  transition: all 300ms ease;
  cursor: pointer;
}

.fa-html5:hover {
  color: #FC4F13;
  transform: scale(1.2);
}

.fa-css3-alt:hover {
  color: #36ADDC;
  transform: scale(1.2);
}

.fa-js:hover {
  color: #F7E025;
  transform: scale(1.2);
}

.fa-php:hover {
  color: #7B7FB5;
  transform: scale(1.2);
}

.fa-sass:hover {
  color: #CE6B9C;
  transform: scale(1.2);
}

.fa-bootstrap:hover {
  color: #7618F6;
  transform: scale(1.2);
}

.fa-git:hover {
  color: #F2563B;
  transform: scale(1.2);
}

.fa-github:hover {
  color: black;
  transform: scale(1.2);
}

/* FORMACION */
.main__grades {
  display: flex;
  flex-direction: column; /* Cambia a columna */
  align-items: center; /* Centra los elementos */
  justify-content: center; /* Centra verticalmente */
  padding-top: 10rem;
}

.grades__title {
  text-align: center;
  margin-bottom: 20px; /* Espacio entre el título y los íconos */
  font-size: 3.5rem; /* Ajusta el tamaño de la fuente según necesites */
}

.grades__courses {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.courses__course {
  background-color: rgba(54, 42, 87, 0.5);
  padding: 2rem;
  border-radius: 3rem;
  gap: 2rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  height: 17rem;
}

.courses__course:hover {
  box-shadow: 0px 0px 8px white;
}

.course__title {
  font-size: 2rem;
  font-weight: 600;
}

.course__description {
  margin-top: 2rem;
}

/* PROYECTOS */
.main__projects {
  padding-top: 10rem;
  width: 100%;
}

.projects__title {
  text-align: center;
  margin-bottom: 20px; /* Espacio entre el título y los íconos */
  font-size: 3.5rem; /* Ajusta el tamaño de la fuente según necesites */
}

.projects__project {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 7.5rem;
}

.project__card > img {
  width: 50rem;
  border-radius: 3rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.project__card > img:hover {
  box-shadow: 0px 0px 8px white;
  filter: none;
}

/* Pantallas pequeñas (móviles) */
@media (max-width: 600px) {
  .main_presentation {
    flex-direction: column;
    padding-left: 0;
  }
  .presentation__text {
    font-size: 1.5rem;
    text-align: center;
    padding-top: 0;
  }
  .presentation__img {
    padding-right: 0;
    padding-top: 10rem;
  }
  .presentation__img > img {
    width: 30rem;
  }
  .main__button-top {
    height: 20rem; /* Asegura que el contenedor tenga altura completa para centrar verticalmente */
  }
  .skills__icons {
    flex-wrap: wrap; /* Permite que los íconos se ajusten a varias filas */
    justify-content: space-between; /* Asegura que los íconos se distribuyan en filas */
  }
  .skills__fa {
    flex: 0 0 15%; /* En móviles, los íconos ocupan el 45% de ancho */
    margin: 2rem;
    font-size: 8rem;
  }
  /* FORMACION */
  .grades__courses {
    flex-direction: column;
    align-items: center;
  }
  .courses__course {
    width: 80%;
    height: 19rem;
  }
}
/* Pantallas medianas (tabletas) */
@media (min-width: 601px) and (max-width: 900px) {
  .layout {
    width: 100%;
  }
  .main_presentation {
    flex-direction: column;
  }
  .presentation__text {
    font-size: 3rem;
  }
  .main__button-top {
    padding-top: 10rem;
  }
  .main__skills {
    width: 100%;
  }
  .skills__fa {
    font-size: 8rem; /* Tamaño de los íconos */
    margin: 1rem; /* Espacio entre los íconos */
  }
}
/* Pantallas grandes (pc pequeño) */
@media (min-width: 901px) and (max-width: 1199px) {
  .presentation__text {
    font-size: 2rem;
  }
  .skills__fa {
    font-size: 8rem; /* Tamaño de los íconos */
    margin: 2rem; /* Espacio entre los íconos */
  }
  .main__button-top {
    padding-top: 10rem;
  }
  .grades__courses {
    width: 95%;
  }
  .courses__course {
    width: 100%;
    height: 25rem;
  }
}
/*FOOTER*//*# sourceMappingURL=styles.css.map */